body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    background-image: url('corridorimg/twochoices.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.actual-door-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.left-door {
    position: absolute;
    top: 34%;
    left: 25.8%;
    width: 10%;
    height: 35%;
    transform: translateX(-50%);
    z-index: 10;
}
.right-door {
    position: absolute;
    top: 34%;
    right: 20%;
    width: 11%;
    height: 35%;
    z-index: 10;
}
.bottom-text-container {
    width: 100%;
    text-align: center;
    padding: 1vh 0;
    position: absolute;
    bottom: 7%;
    z-index: 20;
}
.page-caption {
    color: #485948;
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 5px 15px;
}
footer {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    background: none;
    color: #000000;
    position: absolute;
    bottom: 0;
    z-index: 10;
}
footer p {
    margin: 0;
    font-size: 0.8em;
}
@media screen and (max-width: 900px) {
    body {
        background-image: url('corridorimg/2choicesmobile.png');
    }
    .left-door {
        top: 13%;
        left: 50%;
        width: 15%;
        height: 30%;
    }
    .right-door {
        top: 64%;
        right: 42%;
        width: 15%;
        height: 30%;
    }
    .page-caption {
        font-size: 0.9em;
    }
}