body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    overflow: hidden;
    color: #000000;
}
.main-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
}
.main-quote {
    margin: 0;
    font-size: 2em;
    color: #519DB0;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px 20px;
}
header {
    width: 100%;
    text-align: center;
    padding-top: 5vh;
    position: relative;
    z-index: 10;
}
.clickable-door-link {
    position: absolute;
    top: 29%;
    left: 50.5%;
    width: 15%;
    height: 45%;
    transform: translateX(-50%);
    z-index: 10;
}
.door-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.bottom-text-container {
    width: 100%;
    text-align: center;
    padding: 1vh 0;
    position: absolute;
    bottom: 7%;
    z-index: 20;
}
.page-caption {
    color: #519DB0;
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 5px 15px;
}
footer {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    background: none;
    color: #000000;
    position: absolute;
    bottom: 0;
    z-index: 10;
}
footer p {
    margin: 0;
    font-size: 0.8em;
}
